.products {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  align-items: stretch;
  gap: 20px;
  padding: 0 20px;
  margin-top: 20px;
  .productCard {
    width: 100%;
    overflow: hidden;
    border: 2px solid rgb(224, 224, 224);
    background-color: #fff;
    border-radius: 8px;
    .img {
      height: 160px;
      background-color: rgb(224, 224, 224);
      img {
        width: 100%;
        height: 160px;
        object-fit: cover;
      }
    }
    .spicy {
      font-size: 14px;
      text-align: center;
    }
    .params {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      gap: 14px;
      padding: 14px;

      .nuts {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 12px;
        span {
          font-size: 14px;
          display: flex;
          align-items: center;
          gap: 4px;
          .success {
            color: green;
          }
          .fail {
            color: red;
          }
        }
      }
      .btn {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        button {
          padding: 6px 12px;
          border: none;
          background-color: red;
          color: #fff;
          font-size: 14px;
          border-radius: 4px;
          cursor: pointer;
          transition: 0.3s ease;
          &:hover {
            transform: scale(1.05);
          }
        }
      }
    }
  }
}
