section.greetingCart {
  width: 100%;
  height: 350px;
  background-image: url("https://epicier.ca/wp-content/uploads/2024/09/salade-Cesar-reinventee-top.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 70% 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  h1 {
    color: #fff;
  }
}
