header {
  width: 100%;
  height: 64px;
  background-color: rgba($color: #000000, $alpha: 0.75);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  .logo {
    h3 {
      color: #fff;
    }
  }
  nav {
    display: flex;
    align-items: center;
    gap: 10px;
    .item {
      cursor: pointer;
      transition: 0.3s ease;
      color: #fff;
      text-decoration: none;
      &:hover {
        color: red;
      }
    }
  }
}
